.app-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-areas: "h h" "n c" "f f";

  grid-template-rows: 60px 1fr 70px;
  grid-template-columns: 2fr 10fr;


}


.app-wrapper-content {
  grid-area: c;
  background-color: gray;
  min-height: 840px;
  padding: 20px 0 70px 50px;

}


