.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems div {
    padding: 7px;

}

.dialog a.activeLink{
    color: gold;
}

.message {
    padding: 7px;
    color: white;
    
}


.dialog a{
    text-decoration: none;
    color: white;
}
.dialog a:hover{
    transition: 0.2s;
    color: gold;
}

